filebeat.prospectors:
- type: log
  enabled: true
  paths:
    - {{getv "/self/stack/metadata/fb/paths"}}

output.logstash:
  hosts: ["{{getv "/self/stack/metadata/fb/hosts"}}"]
  enabled: true

logging.level: debug